---
- name: Install Apache and Upload my Home Page
  hosts: lemp
  become: yes

  vars:
    source_file: ./files/index.html
    destination: /var/www/html/index.html

  tasks:
    - name: Install Apache Web Server
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: true
        cache_valid_time: 3600

    - name: Copy HomePage file to Web Server
      ansible.builtin.copy:
        src: "{{ source_file }}"
        dest: "{{ destination }}"
        owner: root
        group: root
        mode: '0644'
      notify: Restart Apache

  handlers:
    - name: Restart Apache
      ansible.builtin.service:
        name: apache2
        state: restarted
